# Залежності
node_modules/
vendor/

# Конфігурації та секрети
.env
.env.local
.env.*.local

# Скрипти автоматизації
autogit.bat
git-link.bat
setup.bat
start.bat

# Системні файли
.DS_Store
Thumbs.db
.vscode/
.idea/

# Логи та тимчасові файли
*.log
npm-debug.log*
.eslintcache
.vercel
commit.txt